<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

      <p>Tere,
        <span class='kood'>
          <%= toend.profile_attributes.given_name %>
            <%= toend.profile_attributes.family_name %>
        </span>!</p>

      <p>Autentimistõend:</p>
      <pre class='kood'>
          { aud: '<%= toend.aud %>',
            iss: '<%= toend.iss %>',
            jti: '<%= toend.jti %>',
            exp: <%= toend.exp %>,
            iat: <%= toend.iat %>,
            nbf: <%= toend.nbf %>,
            sub: '<%= toend.sub %>',
            profile_attributes:
              { family_name: '<%= toend.profile_attributes.family_name %>'
                given_name: '<%= toend.profile_attributes.given_name %>',
                mobile_number: <%= toend.profile_attributes.mobile_number %>
              },
            amr: [ '<%= toend.amr %>' ],
            state: '<%= toend.state %>',
            nonce: '<%= toend.nonce %>'  
          }
        </pre>

        </div>

  </body>

</html>